<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gauresh's submission for devops assignment{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Gauresh's submission for devops assignment</h1>
        <p>S3 File Reader Application</p>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>DevOps Assignment - Flask + AWS S3 + Docker + EC2</p>
    </footer>
</body>
</html>